{% extends "restaurantrestaurantBundle::layout.html.twig" %}
{% block container %}

	
	<div id="page-title">
		<div class="width-container paged-title">
			<h1>les restaurant trouvés</h1>	
		</div>
		<div id="page-title-divider"></div>
	</div><!-- #page-title -->
	<div class="clearfix"></div>

	
	
	<div id="main">
		<div class="width-container">
			
			<div id="container-sidebar"><!-- sidebar content container -->
			
				<div class="type-post">
					<div class="blog-post-image">
						<a href="blog-post.html"><img src="images/demo/photodune-471512-wine-cheese-garden-party-l-1140x435.jpg" class="aligncenter" alt="blog-image"></a>
					</div>
					<div class="blog-post-background">
						<h2 class="post-title"><a href="blog-post.html">Restaurant  1 </a></h2>
						
						<div class="blog-post-excerpt">
						    	<h6 >Description:</h6>
							<p> Quisque velit velit, imperdiet convallis blandit quis, molestie et eros. Duis ac pharetra orci. Phasellus vitae purus nibh. Sed tincidunt ante dignissim lorem molestie a tempor turpis tempor. Sed adipiscing venenatis massa, ut pulvinar turpis malesuada et.</p>
							<h6>Budget moyenne:</h6>
							20DT
								<h6>Adresse :</h6>
						</div>
				<a href="menu.html" class="rock-button">Consulter menu</a> 
						<a href="reservation.html" class="rock-button">Réserver</a>
					</div><!-- close .blog-post-background -->
					
				<div class="clearfix"></div>
				</div><!-- close .type-post -->
				
				
				<div class="type-post">
					<div class="blog-post-image">
						<a href="blog-post.html"><img src="images/demo/photodune-792391-close-up-of-business-hand-hold-touch-screen-mobile-phone-and-buttons-m-1140x435.jpg" class="aligncenter" alt="blog-image"></a>
					</div>
					<div class="blog-post-background">
						<h2 class="post-title"><a href="blog-post.html">Restaurant 2</a></h2>
						<div class="blog-post-excerpt">
								<h6 >Description:</h6>
							<p> Quisque velit velit, imperdiet convallis blandit quis, molestie et eros. Duis ac pharetra orci. Phasellus vitae purus nibh. Sed tincidunt ante dignissim lorem molestie a tempor turpis tempor. Sed adipiscing venenatis massa, ut pulvinar turpis malesuada et.</p>
							<h6>Budget moyenne:</h6>
							40DT
								<h6>Adresse :</h6>
							</div>
						<a href="menu.html" class="rock-button">Consulter menu</a> 
						<a href="reservation.html" class="rock-button">Réserver</a>
					</div><!-- close .blog-post-background -->
					
				<div class="clearfix"></div>
				</div><!-- close .type-post -->
				
				<div class='pagination'><a href='#' class='selected'>1</a><a href='#' class='inactive' >2</a></div>
				
				
			
			<div class="clearfix"></div>
			</div><!-- close .content-container-spacing -->
			
			<div id="sidebar">
			
				<div class="sidebar-spacer"></div>
				
				
				
				<div class="sidebar-spacer"></div>
				
				
				
				<div class="sidebar-spacer"></div>
				
			</div><!-- close #sidebar -->
			
			
		<div class="clearfix"></div>
		</div><!-- close .width-container -->
		
		<div class="widget-area-highlight">
		<div class="width-container">
			
						<div class="grid4column homepage-widget">
				<h3 class="header-underline">Qui sommes nous</h3>
				<p>At dawn on the 13th the Carnatic entered the port of Yokohama. This is an important port of call in the Pacific, where all the mail-steamers.</p>
			</div>
			
			<div class="grid4column homepage-widget">
				<h3 class="header-underline">Inscription</h3>
				<!-- Begin MailChimp Signup Form -->
				<div id="mc_embed_signup">
					<form action="http://progressionstudios.us1.list-manage.com/subscribe/post?u=1a06aa3bca8613232881e8a6e&amp;id=2f5a556941" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						<label for="mce-EMAIL">Join our digital mailing list and get news, deals, and be first to know about events at White Rock!</label>
						
						<div class="clear"><input type="submit" value="Inscription" name="inscription" id="mc-embedded-subscribe" class="button"></div>
					</form>
				</div>
				<!--End MailChimp Signup Form-->
			</div>
			
			
			<div class="grid4column homepage-widget">
				<h3 class="header-underline">Contacter nous</h3>
				<h6 class="heading-address-widget">Resto-Tunisie</h6>
				<div class="e-mail-widget"><span>E-mail:</span> <a href="#">admin@e-mail.com</a></div>
				<div class="social-icons">
						<a class="rss" href="#" target="_blank">r</a>
						<a class="facebook" href="http://facebook.com/" target="_blank">F</a>
						<a class="twitter" href="https://twitter.com/Progression_S" target="_blank">t</a>
						<a class="skype" href="http://skype.com/" target="_blank">s</a>
						<a class="vimeo" href="http://vimeo.com/" target="_blank">v</a>
						<a class="linkedin" href="http://linkedin.com/" target="_blank">l</a>
						<!--a class="dribbble" href="http://dribbble.com/" target="_blank">d</a-->
						<!--a class="forrst" href="http://forrst.com/" target="_blank">f</a-->
						<!--a class="flickr" href="http://flickr.com" target="_blank">n</a-->
						<!--a class="google" href="http://google.com" target="_blank">g</a-->
						<!--a class="youtube" href="http://youtube.com" target="_blank">y</a-->
						<div class="clearfix"></div>
				</div><!-- close .social-icons -->
			</div>
			
			
			
		<div class="clearfix"></div>
		</div><!-- close .width-container -->
		</div><!-- close .widget-area-highlight -->
		
		<div class="clearfix"></div>
	</div><!-- close #main -->
   {% endblock%}